In [444]:
import pandas as pd

1. Скачайте датасет fifаs2.сsv. Проанализируйте его и определите, какие данные являются неполными. Удалите
ненужные колонки и недостающие значения.

2. Найдите в датафрейме полные дубликаты и удалите их. Значения могут быть одинаковыми, но написаны по-разному. Например, может отличаться размер регистра (заглавные и строчные буквы). Особое внимание уделить колонке с названиями команд.

3. Напишите функцию, которая добавит колонку с разбиением возраста по группам: до 20, от 20 до 30, от 30 до
36 и старше 36. Посчитайте количество футболистов в каждой категории.

In [445]:
df = pd.read_csv('fifa_s2.csv')

In [446]:
df.isna().sum() / len(df)

ID                          0.000000
Name                        0.000000
Age                         0.000000
Nationality                 0.002918
Overall                     0.000000
Potential                   0.000000
Club                        0.100459
Value                       0.107128
Wage                        0.000000
Preferred Foot              0.000000
International Reputation    0.004168
Skill Moves                 0.002501
Position                    0.008754
Joined                      0.000000
Contract Valid Until        0.113797
Height                      0.000000
Weight                      0.000000
Release Clause              0.001251
dtype: float64

определим что минимальное количество не пустых значений в столбце, чтобы он не был удален равным 89%

In [447]:
threshold = 0.11
df = df.dropna(thresh = len(df) * (1 - threshold), axis=1)
df.isna().sum() / len(df)

ID                          0.000000
Name                        0.000000
Age                         0.000000
Nationality                 0.002918
Overall                     0.000000
Potential                   0.000000
Club                        0.100459
Value                       0.107128
Wage                        0.000000
Preferred Foot              0.000000
International Reputation    0.004168
Skill Moves                 0.002501
Position                    0.008754
Joined                      0.000000
Height                      0.000000
Weight                      0.000000
Release Clause              0.001251
dtype: float64

In [448]:
df['Club'] = df['Club'].str.lower()
df.drop_duplicates(keep='first', inplace=True )
df.duplicated().sum()

0

In [449]:
def categorize_age(age):
    if age < 20:
        return 'меньше 20'
    elif 20 <= age < 30:
        return 'от 20 до 30'
    elif 30 <= age  < 36:
        return 'от 30 до 36'
    else:
        return 'больше 36'
df['group_age'] = df['Age'].apply(categorize_age)
count = df['group_age'].value_counts()
print(count)

group_age
от 20 до 30    1646
от 30 до 36     458
меньше 20       270
больше 36        23
Name: count, dtype: int64